.vscode/
.DS_Store
node_modules/

/.cache
/build
/server-build
/public/build
/coverage
dist
app/styles
package.json
/templates/pilot/customer-accountapi.generated.d.ts
/templates/pilot/storefrontapi.generated.d.ts
